<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />
    <title>@ViewBag.Title | AdminGrupo</title>




    <link href="~/Vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/css/custom.min.css" rel="stylesheet" />
</head>
<body>




    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Grupo Musical</a>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" style="">
                <a class="nav-link" href="https://localhost:44327/Index/Index">
                    Inicio
                </a>
            </li>
            <li class="nav-item active" style="">
                <a class="nav-link" href="#">
                    Conocénos!
                </a>
            </li>
            <li class="nav-item active" style="">
                <a class="nav-link" href="#">
                    Contacto
                </a>
            </li>

        </ul>

      
    </nav>


    <div class="container">
        @RenderBody()
        <br />

    </div>

    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-youtube"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-google"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-instagram"></i>
                </a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © Pola Lovers | 2023
            <a class="text-white" href="#"></a>
        </div>
        <!-- Copyright -->
    </footer>

</body>


</html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

<style>
    footer {
        margin-left: auto;
    }

    .navbar-nav > li > a {
        font-weight: 500;
        color: #000000 !important;
        margin-left: 10px !important;
        line-height: 20px;
    }

    .navbar-brand {
        font-weight: 500;
        color: #45707a !important;
        margin-left: 20px !important;
        line-height: 20px;
    }
</style>
