
@{
    ViewBag.Title = "ConfirmarCorreo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="right_col">
    <div class="container2">


        <div class="row">

            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>RECUPERAR CONTRASEÑA <small></small></h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">


                        <!-- Smart Wizard -->

                        <div id="step-1">



                            <div class="form-group row">

                                <div class="col-md-6 col-sm-6 ">
                                    <p>se ha enviado un link a tu correo electronico para confirmacion tu cuenta </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 col-sm-2">
                    <a class="btn btn-info" href="https://localhost:44327/Usuario/Index">Volver</a>
                </div>
            </div>
            </div>
        </div>
        
    </div>


<style>
    .container2 {
        width: 100%;
        padding: 190px;
        max-width: 100%;
        min-height: 100vh;
    }
</style>

